:root {
  --ion-color-primary: #176b87;
  --ion-color-primary-rgb: 23, 107, 135;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #145f77;
  --ion-color-primary-tint: #2e7b93;
  --ion-color-success: #3f7561;
  --ion-font-family: "Avenir Next", "Segoe UI", sans-serif;
}
